<!DOCTYPE>
<html ng-app = "mainAppModule">
<head>
    <script src="angular/angular.min.js"></script>
    <script src="controller/mainController.js"></script>
    <script src="controller/utileController.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container" ng-controller = "LoginController as loginController">
        <h1>Test new moudle {{login}}</h1>
    </div>
    <div class="container" ng-controller = "InitController">
        <h1>Item list</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>QTY</td>
                    <td>Total(THB)</td>
                    <td />
                    <td />
                    <td />
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>
                        <input type="text"
                               ng-model="item.name"
                               autofocus="true"
                               ng-required="true"
                               placeholder="Enter a name here"/>
                    </td>
                    <td>
                        <input type="text"
                               numbers-only
                               ng-model="item.price" placeholder="Enter a price here"/>
                    </td>
                    <td>
                        <input type="text"
                               numbers-only123
                               ng-model="item.qty" placeholder="Enter a qty here"/>
                    </td>
                    <td>
                        <span ng-bind="item.price * item.qty | currency:'THB '" />
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="addItem()">Add</button>
                    </td>
                    <td>
                        <button class="btn btn-info" ng-click="updateItem()">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="clearItem()">Clear</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <input type="text" ng-model="filterBy.name" placeholder="Filter By name"/>
                    </td>
                </tr>
                <tr >
                    <td colspan="7" >
                        <input type="radio" value="name"
                               ng-model="orderByName"
                               ng-init="orderByName='name'" /> Sorted ASC
                        <input type="radio" value="-name" ng-model="orderByName" /> Sorted DESC
                    </td>
                </tr>
                <tr ng-repeat = "item in itemList | filter: filterBy | orderBy: orderByName">
                    <td>
                        <span ng-bind="item.name" />
                    </td>
                    <td>
                        <span ng-bind="item.price" />
                    </td>
                    <td>
                        <span ng-bind="item.qty" />
                    </td>
                    <td>
                        <span ng-bind="item.price * item.qty | currency:'THB '" />
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteItem(item._id, item.name)">Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="selectItem(item._id)">Select</button>
                    </td>
                    <td/>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>
